main {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 8vh 1fr;
  grid-template-rows: 1fr 30vh;
  gap: 10px;
  padding: 10px;
}
main svg.vector_aux {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}
main svg.vector_aux defs marker#vector_arrow {
  stroke: none;
  fill: var(--clr_grey);
}
/* -- toolbar -- */
main aside {
  grid-column: 1;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}
main aside ul.toolbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  gap: 5px;
}
main aside ul.toolbar li button {
  width: 8vh;
  height: 8vh;
  background: var(--clr_main);
  border: none;
  border-radius: 4px;
  color: var(--clr_bakcground);
  transition: 0.15s ease-out;
}
main aside ul.toolbar li:nth-child(n+5) button {
  background: var(--clr_grey);
}
main aside ul.toolbar li button:focus,
main aside ul.toolbar li button:hover,
main aside ul.toolbar li button.selected {
  outline: none;
  background: var(--clr_main_dark);
}
main aside ul.toolbar li:nth-child(n+5) button:focus,
main aside ul.toolbar li:nth-child(n+5) button:hover {
  background: var(--clr_black);
}
/* -- drag -- */
main div#drag {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  outline: 4px solid var(--clr_main);
  outline-offset: -4px;
}
main div#drag button.state {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%; 
  background: var(--clr_main);
  border: none;
  color: var(--clr_bakcground);
  z-index: 1;
}
main div#drag button.state:hover
main div#drag button.state:focus {
  outline: none;
  background: var(--clr_main_dark);
}
main div#drag button.state.initial::after {
  position: absolute;
  width: 30px;
  height: 40px;
  background: var(--clr_grey);
  content: '';
  top: 10px;
  right: 100%;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
main div#drag button.state.final {
  outline: 4px solid var(--clr_bakcground);
  outline-offset: -10px;
}
main div#drag div#contextmenu {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background: var(--clr_grey);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  z-index: 5;
}
main div#drag div#contextmenu.hidden {
  opacity: 0;
  visibility: hidden;
}
main div#drag div#contextmenu.visible {
  opacity: 1;
  visibility: visible;
}
main div#drag div#contextmenu button {
  padding: 8px 25px 8px 10px;
  font-size: 0.85em;
  background: var(--clr_grey);
  color: var(--clr_bakcground);
  width: 100%;
  height: fit-content;
  border: none;
  transition: 0.15 ease-out;
  text-align: left;
}
main div#drag div#contextmenu button:hover {
  background: var(--clr_black);
}
main div#drag svg.link {
  position: absolute;
}
main div#drag svg.link path,
main div#drag svg.link circle {
  fill: transparent;
  stroke: var(--clr_grey);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  marker-end: url(#vector_arrow);
}
main div#drag span.indicator {
  position: absolute;
  font-size: 0.8em;
  padding: 4px;
  border-radius: 4px;
  background: var(--clr_grey);
  color: var(--clr_bakcground);
}
/* -- input data -- */
main div.input_data {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  outline: 4px solid var(--clr_main);
  outline-offset: -4px;
  grid-column: 2;
  grid-row: 2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 8px;
  gap: 16px;
}
main div.input_data div.info_header {
  width: 100%;
  display: grid;
  grid-template-columns: 75% 1fr;
  grid-template-rows: 1;
  gap: 10px;
}
main div.input_data div.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
main div.input_data::-webkit-scrollbar {
  background: var(--clr_bakcground);
  width: 12px;
}
main div.input_data::-webkit-scrollbar-thumb {
  background: var(--clr_main);
  border-radius: 8px;
}
main div.input_data div.data div.row {
  width: 100%;
  display: grid;
  grid-template-columns: 75% 1fr;
  grid-template-rows: 1fr;
  align-items: flex-end;
  justify-items: flex-start;
  gap: 10px;
}
main div.input_data div.data div.row input.word {
  width: 100%;
  border: 2px solid;
  border-color: transparent transparent var(--clr_main) transparent;
  font-size: 1em;
  padding: 3px 5px;
  border-radius: 4px;
  transition: 0.2s ease-out;
}
main div.input_data div.data div.row input.word:focus {
  outline: none;
  border-color: var(--clr_main);
}
main div.input_data div.data div.row span.result {
  text-transform: capitalize;
}
main div.input_data div.data div.row span.result.false {
  font-weight: 600;
  color: var(--clr_contrast)
}
main div.input_data div.actions {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
main div.input_data div.actions button {
  padding: 12px 20px;
  border-radius: 4px;
  background: var(--clr_contrast);
  border: none;
  color: var(--clr_bakcground);
  transition: 0.15s ease-out;
}
main div.input_data div.actions button:focus,
main div.input_data div.actions button:hover {
  outline: 2px solid var(--clr_bakcground);
  outline-offset: -4px;
}